  <div>
    <h1>HOLA </h1>
  </div>

  <div class="container">
      <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit auctor primis,
              torquent semper eu elementum cursus et non hac, etiam dui mattis donec nibh
              risus est dapibus. Nisi egestas mollis justo etiam lacus pulvinar lobortis placerat
              porttitor venenatis class ultrices mattis massa, dignissim magnis risus nunc iaculis
              fames ligula tempus mus cubilia proin blandit. Cum etiam tempor nam commodo lobortis risus,
              parturient viverra himenaeos curae dictum vehicula, nec aenean potenti magna habitant.</p>
        </div>
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit auctor primis,
              torquent semper eu elementum cursus et non hac, etiam dui mattis donec nibh
              risus est dapibus. Nisi egestas mollis justo etiam lacus pulvinar lobortis placerat
              porttitor venenatis class ultrices mattis massa, dignissim magnis risus nunc iaculis
              fames ligula tempus mus cubilia proin blandit. Cum etiam tempor nam commodo lobortis risus,
              parturient viverra himenaeos curae dictum vehicula, nec aenean potenti magna habitant.</p>
        </div>
      </div>

  </div>
