body{
  margin: 0;
  border: 0;
  padding: 0;
}

.container{
  background-color: red;
  border: 0.2rem solid black;
  padding: 0.2rem 0.3rem;
  display: table;


}
.row{
  display: table-row;
  content: none;

}
.col{
  border: 0.2rem solid black;
  float:left;
  width: 25%;
}
